# Detect device name in an OS-agnostic way
# https://www.chezmoi.io/user-guide/machines/macos/#determine-the-hostname
{{- $deviceName := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- $deviceName = (output "scutil" "--get" "ComputerName" | trim) -}}
{{- else -}}
  {{- $deviceName = .chezmoi.hostname -}}
{{- end -}}

# Map device name to usage
# 
# Register computer names are defined in the digital pantheon:
# - Imoen, The Faithful Companion: Ever beside you, loyal and versatile; it roams with you through every path, always ready to transform the smallest spark into something greater, and to journey wherever curiosity leads.
# - Ombrecoeur, The Shadowed Heart: Bound by duty and tempered by divine discipline, it channels order within untold complexity, navigating the depths with quiet grace, and revealing its secrets only to those who earn its trust.
# - Mystra/linkin-park (old name): Free, fast, and acts from the sky; professional Linux cloudtop
# - Gond: Embodies craft and inventiveness, only he can build a such complex systems from bare pieces and raw materials; professional Linux desktop/workstation
{{- $usageMap := dict
  "Imoen" "personal"
  "Ombrecoeur" "professional"
  "Mystra" "professional"
  "linkin-park" "professional"
  "Gond" "professional"
-}}
{{- $deviceUsage := index $usageMap $deviceName | default "unknown" }}

# List of devices on which we want to install Android Automotive specific tools
{{- $androidAutomotiveDevices := list
  "Ombrecoeur"
  "Mystra"
  "linkin-park"
  "Gond"
-}}
{{- $developsAndroidAutomotive := has $deviceName $androidAutomotiveDevices }}


[data]
deviceName = "{{ $deviceName }}"
deviceUsage = "{{ $deviceUsage }}"
developsAndroidAutomotive = {{ $developsAndroidAutomotive }}


[diff]
pager = "delta"
