# Detect device name in an OS-agnostic way
# https://www.chezmoi.io/user-guide/machines/macos/#determine-the-hostname
{{- $deviceName := "" -}}
{{- if eq .chezmoi.os "darwin" -}}
  {{- $deviceName = (output "scutil" "--get" "ComputerName" | trim) -}}
{{- else -}}
  {{- $deviceName = .chezmoi.hostname -}}
{{- end -}}

# Map device name to usage
# 
# Register computer names are defined in the digital pantheon:
# - Imoen, The Faithful Companion: Ever beside you, loyal and versatile; it roams with you through every path, always ready to transform the smallest spark into something greater, and to journey wherever curiosity leads.
# - Ombrecoeur, The Shadowed Heart: Bound by duty and tempered by divine discipline, it channels order within untold complexity, navigating the depths with quiet grace, and revealing its secrets only to those who earn its trust.
# - Mystra, The Unseen Weave: Suspended in the ether, a disembodied nexus of pure potential. It awaits the precise incantation to grant passage, ready to weave the raw fabric of creation into absolute order, and binding your will to your duty, wherever you may stand.
# - Gond, The Soul of the Forge: A heart of thunder clad in steel, it is the unsleeping forge. It tempers raw chaos with punishing fire, hammering the abstract into hardened form and giving substance to the boldest ideas.
{{- $usageMap := dict
  "Imoen" "personal"
  "Ombrecoeur" "professional"
  "mystra.c.googlers.com" "professional"
  "Gond" "professional"
-}}
{{- $deviceUsage := index $usageMap $deviceName | default "unknown" }}

# List of devices on which we want to install Android Automotive specific tools
{{- $androidAutomotiveDevices := list
  "Ombrecoeur"
  "mystra.c.googlers.com"
  "Gond"
-}}
{{- $useAndroidAutomotiveTools := has $deviceName $androidAutomotiveDevices }}


# List of devices on which we want to use specific config for development at Google - Mainly for devices with access to Google3
{{- $googleSpecificConfigDevices := list
  "mystra.c.googlers.com"
  "Gond"
-}}
{{- $useGoogleSpecificConfig := has $deviceName $googleSpecificConfigDevices }}



[data]
deviceName = "{{ $deviceName }}"
deviceUsage = "{{ $deviceUsage }}"
useAndroidAutomotiveTools = {{ $useAndroidAutomotiveTools }}
useGoogleSpecificConfig = {{ $useGoogleSpecificConfig }}


[diff]
pager = "delta"
