**/.DS_Store

# act config only on Imoen
{{ if ne .deviceName "Imoen" -}}
dot_actrc.tmpl
{{- end }}


# === Google specific ===
{{ if not .isGoogleSpecific }}
scripts_to_run_manually/
.ssh/
{{- end }}
