**/.DS_Store

# act config only on Imoen
{{ if ne .deviceName "Imoen" -}}
dot_actrc.tmpl
{{- end }}

# Clippy/pack only on professional
{{ if ne .deviceUsage "professional" -}}
.manual_bin/
{{- end }}


# === Google specific ===
{{ if not .isGoogleSpecific }}
scripts_to_run_manually/
.ssh/
{{- end }}
