#!/usr/bin/env nu
source ~/.local/share/chezmoi/helpers/theme.nu
source ~/.local/share/chezmoi/helpers/install_package.nu

{{ if not .useAndroidAutomotiveTools }}
print print-info "Skipping Android Automotive development tools installation."
exit 0
{{ end }}
install-package "scrcpy" --brew "scrcpy"
install-package "android-platform-tools" --cask "android-platform-tools"

print print-info "Reminder: Also install AAE Toolbox."
