#!/bin/sh

echo "System information detected by chezmoi:
"
echo "OS: {{ .chezmoi.os }}"
echo "Architecture: {{ .chezmoi.arch }}
"

echo "Device name: {{ .deviceName }}"
echo "Device usage: {{ .deviceUsage }}"
echo "Use Android Automotive tools: {{ .useAndroidAutomotiveTools }}"
echo "Is Google specific: {{ .isGoogleSpecific }}"
