#!/usr/bin/env nu
source ~/.local/share/chezmoi/helpers/theme.nu
source ~/.local/share/chezmoi/helpers/install_package.nu

if (which brew | is-empty) {
    print-error "Homebrew is not installed. Skipping Homebrew packages"
    exit 0
}

# === Define package lists ===
# --- Everywhere ---
let brews = [
    "carapace"
    "eza"
    "fzf"
    "fd"
    "zoxide"
    "cargo-binstall"
    "bitwarden-cli"
    "zellij"
    "gemini-cli"
    # Python
    "python"
    "uv"
    "ruff"
]
let casks = [
    "font-fira-code-nerd-font"
    "raycast"
    "visual-studio-code"
    # "bitwarden" - Install from Mac App Store until the homebrew version is compatible with the browser extension
    "todoist-app"
    "google-drive"
]
# --- Personal ---
let personal_only_brews = [
    "mas"
    "uutils-coreutils"
    "tealdeer"
    "hyperfine"
    "bandwhich"
    "dust"
    "bottom"
    "onefetch"
    "grex"
    "tesseract"
    "tesseract-lang"
    "imageoptim-cli"
    "pandoc"
]
let personal_only_casks = [
    "font-inter"
    "imageoptim"
    "firefox"
    "mozeidon-macos-ui"
    "docker"
    "musescore"
]
# --- Professional ---
let professional_only_brews = []
let professional_only_casks = []

# === Select which packages to install based on usage ===
let usage = "{{ .deviceUsage }}"

let brews_to_install = if $usage == "personal" { $brews ++ $personal_only_brews } else { $brews ++ $professional_only_brews }
let casks_to_install = if $usage == "personal" { $casks ++ $personal_only_casks } else { $casks ++ $professional_only_casks }

# === Install ===
if $usage == "professional" {
    $env.HOMEBREW_NO_AUTO_UPDATE = 1
}

for brew in $brews_to_install {
    install-package $brew --brew $brew
}
# Cask only for macOS
if (sys host | get name) == "Darwin" {
    for cask in $casks_to_install {
        install-package $cask --cask $cask
    }
}
