# Personal only
{{ if ne .deviceUsage "personal" -}}
# Homebrew
spicetify/
nvim/
# Should come with bws
atuin/
# uv tool
copier/

# rust/binstall
bws/
{{- end }}

# macOS only
{{ if ne .chezmoi.os "darwin" -}}
aerospace/
borders/
karabiner/
{{- end }}
brew install neovim
