# Personal only
{{ if ne .deviceUsage "personal" -}}
copier/
bws/
{{- end }}

# macOS only
{{ if ne .chezmoi.os "darwin" -}}
aerospace/
borders/
ghostty/
karabiner/
spicetify/  # not really macOS only, but I don't use it elsewhere
{{- end }}


# Google specific (cloudtop, etc)
{{ if .isGoogleSpecific }}
gh/
{{- end }}

{{ if not .isGoogleSpecific }}
tmux/
fish/
{{- end }}
