# Personal only
{{ if ne .deviceUsage "personal" -}}
# Homebrew
spicetify/
# uv tool
copier/
# rust/binstall
bws/
{{- end }}

# macOS only
{{ if ne .chezmoi.os "darwin" -}}
aerospace/
borders/
ghostty/
karabiner/
{{- end }}


# Google specific (cloudtop, etc)
{{ if .isGoogleSpecific }}
gh/
{{- end }}
